@use "../vendors/bootstrap"as *;
@use "../abstracts/mixins"as *;

/* Start The Footer Section */
.footer {
  padding: {
    top: rem(72px);
  }

  @include media-breakpoint-up(lg) {
    top: rem(56px);
    bottom: rem(56px);
  }

  .logo-media {
    .description {
      margin: {
        bottom: rem(32px);
      }

      line: {
        height: 1.8;
      }

      @include media-breakpoint-up(lg) {
        line: {
          height: 2;
        }
      }
    }

    .media {
      margin: {
        top: rem(40px);
        bottom: rem(40px);
      }

      @include media-breakpoint-up(lg) {
        margin: 0;
      }

      li {
        &:not(:last-child) {
          margin: {
            right: rem(22px);
          }
        }

        a {
          width: rem(32px);
          height: rem(32px);
          @include transition-mixin(all 0.15s ease-in-out);

          &:hover {
            background-color: $primary !important;
          }
        }
      }
    }
  }

  .links,
  .about,
  .our-office {
    .title {
      font: {
        size: 1rem;
      }
    }
  }

  .our-office {
    margin: {
      top: rem(40px);
    }

    >div {
      font: {
        size: rem(14px);
      }

      line: {
        height: 1.8;
      }

      &:last-child {
        margin: {
          top: rem(24px);
          bottom: rem(40px)
        }
      }
    }
  }

  .copyright {
    p {
      @include media-breakpoint-up(lg) {
        margin: {
          top: rem(52px);
        }
      }
    }
  }
}

/* End The Footer Section */