@use "../../node_modules/sass-rem/rem"as *;
@use "../abstracts/variables"as *;
@use "../vendors/bootstrap"as *;

.header {
  &::before {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;

    clip: {
      path: polygon(0px 0%, 100% 0px, 100% 85%, 0px 100%);
    }

    background: {
      color: $white-lilac;
    }
  }

  .intro {
    padding: {
      top: rem(calc(51px + 62.8559px));
      bottom: rem(88px);
    }

    @include media-breakpoint-up(lg) {
      padding: {
        bottom: rem(67px);
      }
    }

    .info {
      .header-section-title {
        @include media-breakpoint-up(lg) {
          margin: {
            top: rem(26px);
          }
        }
      }

      .header-section-sub-title {
        font: {
          size: rem(36px);
        }

        @include media-breakpoint-up(lg) {
          font: {
            size: rem(50px);
          }
        }

        @include media-breakpoint-up(xl) {
          font: {
            size: rem(60px);
          }
        }

        line: {
          height: 1.33;
        }
      }

      a[class*="btn-primary"] {
        margin: {
          right: rem(20px)
        }
      }
    }

    .image {
      @include media-breakpoint-up(lg) {
        img {
          width: rem(950px);
          height: rem(595px);
        }
      }
    }

    .links {
      margin: {
        bottom: rem(40px);
      }
    }

  }
}