@use "../../node_modules/sass-rem/rem"as *;
@use "../abstracts/variables"as *;
@use "../vendors/bootstrap"as *;

.header-section {
  &-title {
    font: {
      size: $font-size-regular;
    }

    letter: {
      spacing: rem(1px);
    }
  }

  &-sub-title {
    font: {
      family: 'Montserrat', sans-serif;
      size: rem(32px);
    }

    line: {
      height: 1.75;
    }

    @include media-breakpoint-up(lg) {
      font: {
        size: rem(40px);
      }

      line: {
        height: 1.2;
      }
    }

    letter: {
      spacing: rem(-0.5px);
    }

  }
}