@use "../abstracts/variables"as *;
@use "../abstracts/mixins"as *;

body {
  font-family: 'Open Sans', sans-serif;
}

@include gen-text-color;
@include gen-bg-color;

.fw-smb {
  font-weight: 600 !important;
}

.center-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-outline-primary {
  background-color: $primary-light;
}